{% extends "layout.html" %}

{% block content %}
  <h1 class="text-center mb-5">Denmark</h1>

  <div class="container">
    <div class="row justify-content-center">


      <div class="col-md-4 text-center">
        <a href="{{ url_for('director_detail', country='denmark', dir_id=1) }}">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Thomas_Vinterberg_Berlinale_2010_%28cropped%29.jpg"
            alt="Thomas Vinterberg"
            class="img-fluid rounded mb-3"
          >
          <h4>Thomas Vinterberg</h4>
        </a>
      </div>


      <div class="col-md-4 text-center">
        <a href="{{ url_for('director_detail', country='denmark', dir_id=2) }}">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Lars_von_Trier_2014_%28cropped%29.jpg/640px-Lars_von_Trier_2014_%28cropped%29.jpg"
            alt="Lars von Trier"
            class="img-fluid rounded mb-3"
          >
          <h4>Lars von Trier</h4>
        </a>
      </div>


      <div class="col-md-4 text-center">
        <a href="{{ url_for('director_detail', country='denmark', dir_id=3) }}">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQlF3l9czOBQPrY_V4BnF0CvR-kC_l2apBFQ&s"
            alt="Søren Kragh-Jacobsen"
            class="img-fluid rounded mb-3"
          >
          <h4>Søren Kragh-Jacobsen</h4>
        </a>
      </div>

    </div>
  </div>
{% endblock %}
