{% extends "layout.html" %}

{% block content %}
  <div class="container mb-5">

    <h1 class="text-center mb-4">{{ director.name }}</h1>


    <div class="row">

      <div class="col-md-6">
        <img
          src="{{ director.image }}"
          alt="{{ director.name }}"
          class="img-fluid rounded mb-3"
        >
      </div>


      <div class="col-md-6">
        <div class="btn-group mb-3" role="group">
          <button id="bioBtn" class="btn btn-primary">Bio</button>
          <button id="filmBtn" class="btn btn-secondary">Filmography</button>
        </div>


        <div id="bioSection">
          <p>{{ director.bio }}</p>
        </div>


        <ul id="filmSection" class="list-group" style="display:none;">
          {% for film in director.filmography %}
            <li class="list-group-item">{{ film }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>


    <div class="mt-4">
      <h4>Dogme 95 Films:</h4>
      <ul class="list-unstyled">
        {% for df in director.dogme_films %}
          <li class="d-flex align-items-center mb-2">
            <span class="me-2">{{ df }}</span>

   
            <a href="{{ url_for(
                        'film_detail',
                        country=country.lower(),
                        dir_id=director.id,
                        film_idx=loop.index0
                     ) }}"
               title="Watch clip for {{ df }}">
              <img
                src="https://cdn2.vectorstock.com/i/1000x1000/46/66/cinema-tickets-on-background-vector-11404666.jpg"
                alt="Cinema Ticket"
                style="width:40px; height:auto; cursor:pointer;"
              >
            </a>

            <span class="ms-2 text-muted">(Click on ticket to watch a clip!)</span>
          </li>
        {% endfor %}
      </ul>
    </div>


    <div class="mt-4">
      <button
        class="btn btn-outline-secondary"
        onclick="window.location='{{ url_for('denmark') if country=='Denmark' else url_for('usa') }}'"
      >
        ← Return to {{ country }}
      </button>
    </div>
  </div>


  <script>
    $('#bioBtn').on('click', () => {
      $('#bioSection').show();
      $('#filmSection').hide();
      $('#bioBtn').addClass('btn-primary').removeClass('btn-secondary');
      $('#filmBtn').addClass('btn-secondary').removeClass('btn-primary');
    });
    $('#filmBtn').on('click', () => {
      $('#bioSection').hide();
      $('#filmSection').show();
      $('#filmBtn').addClass('btn-primary').removeClass('btn-secondary');
      $('#bioBtn').addClass('btn-secondary').removeClass('btn-primary');
    });
  </script>
{% endblock %}

