

body {
  padding-top: 70px;
}


a {
  cursor: pointer;
}


.navbar-brand,
.nav-link {
  font-weight: bold;
}


#map-container {
  position: relative;
  width: 100%;
  max-width: 800px;
}


.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: red;
}


.dot:hover {
  background: yellow;
}


.dot-container {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}

.dot-container .tooltip {
  display: none;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background: #bfd3f0;
  padding: 8px;
  border-radius: 4px;
  text-align: left;
  white-space: nowrap;
  z-index: 1001;
}

.dot-container:hover .tooltip {
  display: block;
}

